page-pick-up-address-modal {

    ion-title {
        //position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .toolbar-title{
        font-size: 18px !important;
        font-weight: 200 !important;
        padding: 0px !important;
    }

    [checkboxMargin]{
        margin: 3% !important;
    }
    [blueHeaders]{
        color: #2979ff;
        text-align: left;
    }

    [paddingTop]{
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    [paddingAll]{
        padding-left: 5%;
        padding-right: 5%;
    }
    [paddingNoEndDate]{
        padding-left: 50%;
        padding-right: 5%;
        padding-top: 2%;
    }
    [paddingButtons]{
        padding-left: 5%;
        padding-right: 5%;
    }
    [marginTextArea]{
        margin-left: 5%;
        margin-right: 5%;
    }
    [flexContainer] {
        display:flex;
        flex-direction:row;
        font-size: 14px;
    }
    [paddingRight]{
        margin-right: 2%;
    }
    [paddingBottom]{
        padding-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 20%;
    }
    [buttonStyle]{
        background-color:#2979ff; 
    }
    [itemOverride]{
        font-size: 1.5rem !important; 
        border: none !important;
    }
    .col{
        padding: 0px !important;
        padding-right: 3px !important;

    }
    .button{
        padding: 0px !important;
    }
    .checkbox{
        padding: 0px !important;
    }

    [modalStyling]{
        width: 100%; 
        height: 100%; 
        background-color: white;
      //  overflow:hidden !important;
        margin: auto !important;
        opacity: .9;
    }

    [closeButton] {
        margin-left: 90%;
        margin-top: 5%;
        width: 5%;
        color: #2979ff;
    }
    [blueIcon] {
        color: #2979ff;
    }

    [calenderIconStyle] {
        margin-top: 50%;
    }
    [flexItem] {
        flex:1 1 auto;
    }
    [itemStyle]{
        font-size: 15px !important; 
        border:1px grey solid !important;
        border-radius: 15px !important;
        background: transparent;
    }
    [titleStyle] {
        color: #2979ff;
        font-size: 16px;
        font-weight: 300;
        text-align:center;
        margin-top:4%;
        font-family: 'Avenir';
    }

    [textStyle]{
        font-family: 'Avenir';
        font-size: 10px;
        word-wrap: normal;
        padding-right: 5%;
        padding-left: 5%;
    }
    [inputStyle] {
        font-size: 11px;
        align-content: center;
        text-align: center;
    }
    .label{
        font-family: 'Avenir';
        font-size: 12px;
    }   
}
