page-account-verification {
    .input{
        font-size: 1.5rem !important; 
        border: solid !important;
        border-color: lightgray !important;
        border-width: 2px !important;
        border-radius: 30px !important;
        text-align: center;
        padding-left: 10%;
    }
    .verify{
        margin-top: 25%;
    }

    ion-title {
        //position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .toolbar-title{
        font-size: 18px !important;
        font-weight: 300 !important;
        letter-spacing: 5px !important;        
        padding: 0px !important;
    }
    [bgColor]{
        background-color: #f9f9f9;
    }
    [navColor]{
        text-align:center;
        color: #2979ff;
        background-color: #2979ff;
    }

    [headingStyle]{
        color:#000000;
        text-align:center;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    [alertStyle]{
        color: #ea6153;
    }

    [blueHeaders]{
        color: #2979ff;
        text-align: center !important;
        font-weight: 600;
    }

    [buttonGap]{
        margin-top: 15%;
    }

    [paddingTop]{
        padding-top: 8%;
    }

    [paddingAll]{
        padding-left: 15%;
        padding-right: 15%;
    }
    [buttonPadding]{
        padding-right: 5%;
        padding-left: 5%;
    }
    [buttonStyle]{
        background-color:#2979ff;
        width: 100%;
        border-radius: 0px;
    }

    [buttonOutline]{
        width: 100%;
        border-radius: 0px;
    }
    [customCheckbox] {    
        .item-cover {
            width: 10%;
            margin: 3px;
        }
    }

    [checkboxMargin]{
        margin: 3px !important;
    }

    [itemNoBorder]{
        border: none !important;
    }
}
