// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
[menuBg]{
   background-color:#2979ff;
   color: #ffffff;
 }

 [iconSize]{
    font-size: 2em !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
 }
[textSize]{
  font-size: 12px !important;
  color: #ffffff !important;
  opacity: 1 !important;
  padding-top: 5%;
}
[colPadding]{
  padding: 0 !important;
}
 [avatarSize]{
    width: 80px !important;
    height: 80px !important;
 }

.toolbar-title{
    font-size: 16px !important;
    font-weight: 300 !important;    
}
