page-rate-item-pop-up {

    .toolbar-title{
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px !important;
    }

    ion-col, ion-row, ion-item{
        background-color: rgba(0, 0, 0, 0) !important;
    }
        
    [bgImage]{
        background-color: #2970e6;
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    [buttonStyle]{
        border-color: white;
        color: white;
        font-size: 1.3em;
        font-weight: lighter;
    }

    [buttonPadding]{
        padding-top: 100%;
    }
    ion-title {
        //position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .toolbar-title{
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px !important;
    }
    .segment-button{
        opacity: 1.0 !important;
        color: #000000 !important;
        font-size: 1rem !important;
        text-transform: initial !important
    }
    .segment-button.segment-activated{
        color:#2979ff !important
    }
    [textButton]{
        // margin-top: -1.5rem !important;
    }
    [paddingTop]{
        padding-top: 5%;
    }
    hr{
        height: 1px !important;
        background-color: #000000 !important;
    }
    [paddingAll]{
        padding-right: 5%;
        padding-left: 5%;
    }
    [textStyleOverall]{
        font-weight: 600;
        font-size: 14px;
        color: #2979ff !important;
    }
    [buttonText]{
        text-transform: initial !important;
        text-decoration: underline !important;
    }
    [textDecor]{
        color: #000000 !important;
        padding-left: 5%;
    }
    .button{
        padding: none !important;
        margin: none !important;
        text-transform: initial !important;
    }
    [bgColor]{
        background-color: #f9f9f9;
    }      
    [flexContainer] {
        display:flex;
        flex-direction:row;
        font-size: 14px;
    }
    [paddingTop]{
        padding-top: 5%;
    }  

    [blueHeaders]{
        color: #2979ff;
        text-align: left;
    }

    [left]{
        text-align: left;
        float: left;
    }

    [right]{
        float:right;
        text-align: right;
    }

    [no-padding]{
        padding: 0px, 0px, 0px, 0px !important;
    }

    ul{
        padding: 0px;
        &.rating li {
            padding: 0px 0px 0px 0px !important;
            background: none;
            color: #ffffff;

            ion-icon {
            font-size: 15px;
            }
        }
    }

    [modalStyling]{
        width: 100%; 
        height: 100%; 
        // background-color: #f9f9f9;
        margin: auto !important;
        opacity: .92;
    }

    [closeButton] {
        margin-left: 90%;
        margin-top: 5%;
        width: 5%;
        color: #f9f9f9;
    }

    [white]{
        color: #ffffff;
    }

    [padding-20]{
        padding-top: 20%;
    }

    [center]{
        text-align: center;
        float: center;
    }
}
